<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/image/Foco-Logo.png" />
      <h3>Bem vindo!</h3>
      <p>
        Seja bem vindo ao app Foco! O assistente financeiro virtual que vai te
        ajudar a poupar e colocar suas finanças em ordem.
      </p>
    </ion-slide>
    <ion-slide>
      <img
        src="../../assets/image/undraw_Questions_re_1fy7.png"
        class="imgSlide1"
      />
      <h3>Primeiros passos</h3>
      <p>
        Antes de iniciar sua jornada, vamos aprender um pouco mais sobre a
        usabilidade do app?
      </p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/image/cadastrar carrocel.png" class="imgSlide2" />
      <h3>Cadastrar uma despesa</h3>
      <p>
        Para cadastrar uma nova despesa basta clicar no sinal de +, no canto
        inferior direito da tela, rápido e prático!
      </p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/image/pagocarrossel.png" class="imgSlide3" />
      <img src="../../assets/image/despesapaga.png" class="imgSlide3" />
      <h3>Marcar despesa como paga</h3>
      <p>
        Para marcar uma despesa com o status de paga, basta arrastá-la para o
        lado esquerdo e marcar a opção pago
      </p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/image/editardespesa.png" class="imgSlide3" />
      <h3>Editar / Excluir despesa</h3>
      <p>
        Para editar as informações ou excluir uma despessa basta arrasta-lá para
        o lado direito
      </p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/image/undraw_Order_confirmed_re_g0if.png" />
      <h3>Finalizado!</h3>
      <p>
        Agora que você está por dentro de todas nossas funções, vamos começar a
        cuidar da sua vida financeira!
      </p>
      <ion-button [routerLink]="['/home']" class="vamosNessaBtn"
        >BORA!</ion-button
      >
    </ion-slide>
  </ion-slides>
</ion-content>
